* {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.board {
  width: 309px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 100px;
  height: 100px;
  background-color: rgb(212, 212, 212);
  border-radius: 5px;
  margin: 0 3px 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 80px;
  height: 80px;

}